.program-learning{
  width: 1375px;
  margin: 30px auto 0;
  background-color: $main-white;
  padding: 42px 41px 39px 36px;

}
.program-top{
  display: flex;
  justify-content: space-between;
  &__title{
    color: $main-blue;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 38px;
  }
  &__more-learn{
    align-self: flex-start;
    color: $main-white;
    text-decoration: none;
    background: $main-blue;
    font-weight: 500;
    font-size: 14px;
    padding: 15px 22px;
    border-radius: 25px;
  }
}
.nav-learn{
  display: flex;
  border-bottom: 1px solid #F2F3F6;
  min-height: 40px;
  margin-bottom: 35px;
  &__link{
    color: #919AB5;
    margin-right: 25px;
    text-decoration: none;
  &--active{
    color: $main-blue;
    border-bottom: 2px solid $main-blue;

  }
  }
}
.slide-course{
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px 25px 25px;
  align-items: flex-start;
  color: $main-white;
  z-index: 2;
  overflow: hidden;
  &:hover{
    & .slider-overlay{
      transition: transform 200ms;
      transform: translateY(0);
    }
  }
  &::before{
    content: "";
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: #23346B;
    opacity: 0.5;
    position: absolute;
    display: block;
    z-index: -1;
  }
 &--1{
   background-image: url('/img/slide-img-1.jpg');
 }
  &--2{
    background-image: url('/img/slide-img-2.jpg');
  }
  &--3{
    background-image: url('/img/slide-img-3.jpg');
  }
  &__mark{
    color: $main-white;
    padding: 5px 10px;
    background: #B52528;
    border-radius: 24.5px;
  }
  &__title{
    font-size: 24px;
    font-weight: bold;
    line-height: 130%;
  }
  &__bottom{
    margin-top: 83px;
  }
}
.slider-desc{
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  &__text{
    opacity: 0.8;
    margin: 0;
    line-height: 22px;
  }
  &__price{
    font-weight: 500;
    font-size: 26px;
    margin: 0;
    line-height: 130%;
  }
}
.slider-overlay{
  position: absolute;
  transition: transform 200ms;
  transform: translateY(100%);
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: url("/img/overlay-bg.png");
  &__btn{
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -114px;
    line-height: 45px;
    text-decoration: none;
    color: $main-white;
    background: #B52528;
    border-radius: 27.5px;
    width: 227px;
    height: 55px;
  }
  &__link{
    top: 80%;
    position: relative;
    color: $main-white;

  }
}
.slider-course__pagination{
  position: relative;
  bottom: 0;
  display: inline-block;
  text-align: left;
  font-size: 12px;
  line-height: 135%;
  color: #1A295B;
  font-weight: lighter;
  opacity: 0.8;
  margin-top: 30px;
  margin-bottom: 10px;
  width: auto;
}
.swiper-pagination-current{
  font-weight: 500;
  opacity: 1;
}
.slider-course__btn{
  bottom:0;
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #F5F6F8;
  border-radius: 50%;
  right: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &--prev{
    right: 40px;
    background-image: url("/img/prev.svg");
  }
  &--next{
    background-image: url("/img/next.svg");
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}
@media(max-width: $small-notebook){
  .program-learning  {
    width: 1240px
  }
  .slide-course{
    background-size: cover;
    &__title{
      font-size: 22px;
    }
  }
}
@media(max-width: $tablet){
  .program-learning {
    width: 980px
  }
  .slide-course{
    background-size: cover;
    &__title{
      font-size: 16px;
    }
  }
  .slider-desc__price{
    font-size: 18px;
  }
}
@media(max-width: $small-tablet){
  .program-learning {
    width: 720px
  }
  .slide-course{
    background-size: cover;
    &__title{
      font-size: 16px;
    }
  }
  .slider-desc__price{
    font-size: 20px;
  }
}
@media(max-width: $mobile) {
  .program-learning {
    width: 100%;
    min-width: 310px;
    padding: 30px 15px 40px;
    &__top{
      flex-wrap: wrap;
    }
  }
  .slide-course{
    background-size: cover;
    &__title{
      font-size: 15px;
    }
  }
  .slider-overlay{
    background-size: cover;
  }
  .slider-desc{
    flex-wrap: wrap;
  }
  .program-top{
    &__title{
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    &__more-learn{
      margin-bottom: 30px;
    }
  }
  .nav-learn{
    flex-wrap: wrap;
    &__link{
      margin-bottom: 10px;
      flex-basis: 100%;
      border-bottom: 0;
    }
  }
}
